body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

h1{
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

button {
    border-radius: 10px;
    color: white;
    background-color: #000;
}

h2{
    font-size: 30px;
}

p {
    font-size: 12px;
    padding-left: 20px;
    border-color: black;
    border-left: solid;
    border-width: 3px;
}

footer{
    position: fixed;
    background-color: rgba(247, 193, 162, 0.7);;
}

